body {
    margin: 0px;
    height: 100vh;
    color: black
    font-family: Arial, Helvetica, sans-serif;
}

input {
    font-size: 14px;
    padding: 10px 0px;
    width: 250px;
}
input focus-visible {
    outline: none;
}
input[type=text]{
    <!-- give input text a gray color-->
    color: gray;
    margin 0 0 0 1px;
} 

input[type=submit] {
    font-size:14px;
    width: 150px;
    margin: 20px;
    border-width: 1px;
    border-radius: 15px;
}
input[type=submit]:hover {
    background-color: #b0acac;
    color: black;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading .headerlinks {
    color: black;
    display: flex;
    align-items: center;
}
.headerlinks{
    margin-left:auto;
    padding: 10px 20px;
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    border: 1px; 
    padding: 10px;
}